{% extends 'base.html.twig' %}

{% block title %}Items{% endblock %}

{% block body %}
    <nav class="uk-navbar">
        <ul class="uk-navbar-nav">
            {% block navbar %}
                <li class="uk-active"><a href="{{ path('app') }}">All</a></li>
                <li><a href="{{ path('activeList') }}">Active</a></li>
                <li><a href="{{ path('completedList') }}">Completed</a></li>
            {% endblock %}
        </ul>
    </nav>
    <div id="wrapper">
        <div class="uk-overflow-container">
            <h2>Todo: All</h2>
            <table class="uk-table uk-table-hover ">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Text</th>
                        <th>Created at</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            Total: <span class="uk-text-bold">{{ total|default('0') }}</span>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.status }}</td>
                        <td>{{ item.text }}</td>
                        <td>{{ item.createdAt|date('Y-m-d') }}</td>
                        <td>
                            {% if 'open' == item.status %}
                                <a href="{{ path('closeItem', { id: item.id }) }}">
                                    Close
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% block form %}
                {{ form_start(form) }}
                <div class="form-row">
                    {{ form_row(form.status) }}
                </div>
                <div class="form-row">
                    {{ form_row(form.text) }}
                </div>
                <button type="submit">Create</button>
                {{ form_end(form) }}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .form-row {
            margin: 1em;
        }
        .form-row label {
            margin-right: 1em;
        }
    </style>
{% endblock %}